<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>confrim </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
<div class="container">
<form method="post" class="jumbotron">
    {% csrf_token %}
    <h1> Do you want to delete<span> {{obj1.first_name}} {{obj1.last_name}}</span>record???</h1>
    <input type="submit" class="btn btn-warning" value="YES">
    <button class="btn btn-info btnlg" type="button"><a href="{% url 'show' %}"> NO</a>  </button>
</form>
</div>
</body>
</html>